<html lang="en">
	<%- include('./partials/header.ejs') %>
	<body>
		<%- include('./partials/nav.ejs') %>
		<p>Hello this is some plain text.</p>
	</body>
	<%- include('./partials/footer.ejs') %>
</html>
