<nav>
	<h1>DVD Rentals</h1>
	<!-- <h2>We have what you need!</h2> -->
	<a href="/">[home]</a>
	<a href="/stores">[stores]</a>
	<!-- <a href="/rentalFilms">[Rental Films]</a> -->
	<!-- <a href="/about">[about]</a> -->
</nav>
